<!DOCTYPE html>
<html>
<head>
	<title>Patatap Clone</title>
	<link rel="stylesheet" type="text/css" href="/css/clone.css">
	<!-- Paper JS File -->
	<script type="text/javascript" src="/scripts/paper-full.js"></script> 
	<!-- Howler JS File -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script> 
    <script type="text/javascript" src="/scripts/clone.js"></script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>